<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org>
<head>
<title>Datos personas</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
	<div class="row">
		<div class="col-md-12"
			style="text-align: center; background-color: rgb(0%, 58%, 45%); color: white;">
			<strong><H2>EVENTOS COMUNITARIOS</H2></strong>
		</div>
		<div class="col-md-12" style="text-align: center;">
			<img src="evento.png" alt="evento" srcset="" width="150rem"
				height="150rem" style="border-radius: 50%; margin-top: 2%;">
		</div>
	</div>

	<div class="container sombras">
		<form th:action="@{/evento-create}" method="POST"
			th:object="${evento}"
			style="margin: 5%; background-color: #F2F2F2; padding: 1%;">
			<!-- primera fila -->
			<div class="form-group">
				<div class="row">
					<div class="col-md-6">
						<input class="form-control" type="text" name="idEvento"
							id="idEvento" placeholder="ID de Evento">
					</div>
					<div class="col-md-6">
						<input class="form-control" type="text" name="titulo"
							th:field="*{titulo} id=" titulo" placeholder="Titulo">
					</div>

				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-6">
						<input class="form-control" type="text" name="descripcion"
							th:field="*{descripcion}  id="
							descripcion" placeholder="Descripcion">
					</div>
					<div class="col-md-6">
						<input class="form-control" type="text" name="nombreCliente"
							th:field="*{nombreCliente} id="
							nombreCliente"  placeholder="Nombres">
					</div>

				</div>
			</div>
			<!-- tercera fila -->
			<div class="form-group">
				<div class="row">
					<div class="col-md-6">
						<input class="form-control" type="text" name="apellidoCliente"
							th:field="*{apellidoCliente} id="
							apellidoCliente"  placeholder="Apellidos">
					</div>
					<div class="col-md-6">
						<input class="form-control" type="email" name="EmailCliente"
							id="EmailCliente" th:field="*{emailCliente}  placeholder="Email">
					</div>

				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-6">
						<input class="form-control" type="number" name="telefono"
							th:field="*{telefono}  id=" telefono" placeholder="Telefono">
					</div>
					<div class="col-md-6">
						<input class="form-control" type="date" name="fechaInicio"
							id="fechaInicio" th:field="*{fechaInicio}"
							placeholder="Fecha de inicio">
					</div>

				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-6">
						<input class="form-control" type="date" name="fechaFin"
							id="fechaFin" th:field="*{fechaFin}" placeholder="Fecha final">
					</div>
					<div class="col-md-6">
						<label>Salon</label> <select th:field="*{lugar}">
							<option value="1">Value 1</option>
							<option value="2">Value 2</option>
							<option value="3">Value 3</option>
						</select>
					</div>
				</div>
			</div>
			<button class="btn btn-success" type="submit">Registrar</button>
			<input type="reset" class="btn btn-warning"
				value="Limpiar Formulario">
		</form>
	</div>
	<div class="container sombras"
		style="margin-top: 3%; margin-bottom: 10%;">
		<table class="table" style="text-align: center;">
			<thead>
				<tr>
					<td><strong>ID Curso</strong></td>
					<td><strong>Titulo</strong></td>
					<td><strong>Descripcion</strong></td>
					<td><strong>Nombres</strong></td>
					<td><strong>Apellido</strong></td>
					<td><strong>Email </strong></td>
					<td><strong>Telefono</strong></td>
					<td><strong>Fecha Inicio</strong></td>
					<td><strong>Fecha Fin</strong></td>
					<td><strong>Lugar</strong></td>
			</thead>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</body>
</html>